<html>
<head>
	<title>Mohammed Al-Madani</title>
	<link rel="stylesheet" type="text/css" href="../static/mystyle.css">
</head>
<body>
	<h1 id = "Hi">Hi!!</h1>
	<p id = "p">My name is Mohammed ,I'm 16 year's old , I'm from palestine ,I,m we code student 
	^_^ </p>

	<h3 id = "h3">^^ favorites ^^</h3>

	<ul> 
		<li> I love football</li>
		<li>I have an account on facebook</li>
	</ul>
	
	<h3>**my account**</h3>

	<a href="https://www.facebook.com/mohmmed.almadani">facebook</a>
	<img src="https://scontent.fjrs2-1.fna.fbcdn.net/v/t1.0-9/18952839_1331260603654002_125972741935766559_n.jpg?_nc_cat=0&oh=299c97fb6088886f5394ab8412291bb8&oe=5BCB083E"; width = "350">

	<h3>**The Date**</h3>

	<button id= "button" onclick = changeDate()>Date  !!</button>

	<h3>**test1**</h3>

	<button id= "button2" onclick = addImage()>Open img  !!</button>
	
	<h3>**test2**</h3>

	<button id = 'But'onclick = changetext() > Click Me and go to Hi!!</button>


	<script>
	function addImage (){
		open(src= "https://scontent.fjrs2-1.fna.fbcdn.net/v/t1.0-9/21462360_1422274661219262_6517962404606699388_n.jpg?_nc_cat=0&oh=612c139ba2c363362718f5300945f5e8&oe=5BCF7AF1")

	}
	function changeDate (){
		dood = document.getElementById("button")
		button.innerHTML = Date()
		console.log("hiiii")

	}
	function changetext(){
		var changetext = document.getElementById("Hi");
		changetext.style.color = "black";





	}


	</script>
</body>
</html>